*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #3e496b;
}

.input_box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 200px auto 0;
    display: flex;
    align-items: center;

}

.input_box input{

    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;

}
.input_box img{
    width: 35px;
    cursor: pointer;
    
}
.show-pass{
    background: #dadada;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    visibility: hidden;
    font-size: 20px;
    font-weight: 700;
}



/* .hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}
.container {
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
} */